ul {
  margin-top: var(--spacing-base);
  overflow-y: auto;
}

.access {
  padding: var(--spacing-base);
}

.publishISCN {
  & .switch {
    & header {
      @mixin flex-center-space-between;
    }
  }

  & .switch + :global(*) {
    margin-top: var(--spacing-base);
  }
}
